NEXT_PUBLIC_SITE_URL=https://juniormbogning.com
NEXT_PUBLIC_GISCUS_REPO=JMbogning/juniormbogning-site
NEXT_PUBLIC_GISCUS_REPO_ID=R_kgDOTZepsg
NEXT_PUBLIC_GISCUS_CATEGORY=Announcements
NEXT_PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOTZepss4DC1zl
NEXT_PUBLIC_GISCUS_THEME=light
NEXT_PUBLIC_GISCUS_STRICT=0
NEXT_PUBLIC_GISCUS_REACTIONS_ENABLED=1
NEXT_PUBLIC_GISCUS_EMIT_METADATA=0
NEXT_PUBLIC_GISCUS_INPUT_POSITION=top
NEXT_PUBLIC_CONTACT_FORM_ENDPOINT=https://script.google.com/macros/s/your-web-app-id/exec
